# Node modules
node_modules/

# Environment files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Build / output
dist/
build/
coverage/
.vite/

# Editor directories and files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Misc
*.tgz
*.local
